page-home {
	#lightOn {
		font-size: 95vw;
		color: #404ace;
		position: absolute;
	    top: 50%;
	    left: 50%;
	    height: 50%;
	    transform: translate(-50%, -50%);
	    display: block;
	    text-shadow: 2px 8px 45px #fff;
	}
	#lightOff {
		font-size: 95vw;
		/*color: #981135;*/
		color: #404ace;
		position: absolute;
	    top: 50%;
	    left: 50%;
	    height: 50%;
	    transform: translate(-50%, -50%);
	    display: block;
	    text-shadow: 2px 8px 65px #eef93f;
	    display: none;
	}
	ion-content {
		background: #1d1b1b !important;
	}
}
