page-home {
	#lightOn {
		font-size: 68vw;
		color: #9ee29e;
		position: absolute;
	    top: 50%;
	    left: 50%;
	    /*height: 50%;*/
	    transform: translate(-50%, -50%);
	    display: block;
	    text-shadow: 0px 0px 42px #22f508;
	    border: 14px solid #404ace;
	    border-radius: 88px;
	    padding: 25px;
	}
	#lightOff {
		font-size: 68vw;
		/*color: #981135;*/
		color: #b37a89;
		position: absolute;
	    top: 50%;
	    left: 50%;
	   /*height: 50%;*/
	    transform: translate(-50%, -50%);
	    display: block;
	    text-shadow: 0px 0px 45px #fb2d2d;
	    border: 14px solid #404ace;
	    border-radius: 88px;
	    padding: 25px;
	    display: none;
	}
	ion-content {
		background: #1d1b1b !important;
	}
}
